In [ ]:
! pip install faiss-gpu ##Installing GPU version of faiss

In [ ]:
! pip install sentence_transformers ## For textual similarity, using pretrained models

In [29]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import faiss
from sentence_transformers import SentenceTransformer, util
import math

In [7]:
model = SentenceTransformer('paraphrase-distilroberta-base-v1',device="cuda") ## On GPU Loads the distil roberta model,whcih was trained on millions of data

HBox(children=(FloatProgress(value=0.0, max=305584576.0), HTML(value='')))

### Load the movies data

In [50]:
imdb_movies=pd.read_json('./imdb.json', orient = 'split')
imdb_movies.shape

(10000, 9)

In [52]:
imdb_movies.head(2)

               titre  ...                                        description
0  Godzilla vs. Kong  ...  The epic next chapter in the cinematic Monster...
1        Black Widow  ...  A film about Natasha Romanoff in her quests be...

[2 rows x 9 columns]

In [53]:
## Dropping off rows where Movie Description is NULL
imdb_movies=imdb_movies[pd.notnull(imdb_movies['description'])]
imdb_movies=imdb_movies.reset_index(drop=True)

In [55]:
imdb_movies['id']=imdb_movies.index

In [56]:
imdb_movies.head(2)

               titre  ...  id
0  Godzilla vs. Kong  ...   0
1        Black Widow  ...   1

[2 rows x 10 columns]

## Extract the Embeddings for movie description

In [57]:
sentences=imdb_movies['description'].tolist()
print("Number of Sentences in Movie Description ",len(sentences))

Number of Sentences in Movie Description  10000

In [58]:
embeddings=model.encode(sentences)
faiss.normalize_L2(embeddings)

In [59]:
print("Shape of the EMbeddings is ",embeddings.shape)

Shape of the EMbeddings is  (10000, 768)

In [60]:
## We get a 768 dimension vector using Roberta. So we will create FAISS index with dimaensions - 768

dim=768
ncentroids=50 ## This is a hyperparameter, and indicates number of clusters to be split into
m=16 ## This is also a hyper parameter
quantiser = faiss.IndexFlatL2(dim)
index = faiss.IndexIVFPQ (quantiser, dim,ncentroids, m , 8)
index.train(embeddings) ## This step, will do the clustering and create the clusters
print(index.is_trained)
faiss.write_index(index, "trained.index")

True

In [61]:
### We have to add the embeddings to the Trained Index.
ids=imdb_movies['id'].tolist()
ids=np.array(ids)
index.add_with_ids(embeddings,ids)
print(index.ntotal)

10000

In [62]:
faiss.write_index(index,"block.index")

## Let us use the FAISS index to search for similar movie plots

In [63]:
def searchFAISSIndex(data,id_col_name,query,index,nprobe,model,topk=20):
    ## Convert the query into embeddings
    query_embedding=model.encode([query])[0]
    dim=query_embedding.shape[0]
    query_embedding=query_embedding.reshape(1,dim)
    faiss.normalize_L2(query_embedding)
  
    
    index.nprobe=nprobe
    
    D,I=index.search(query_embedding,topk) 
    ids=[i for i in I][0]
    L2_score=[d for d in D][0]
    inner_product=[calculateInnerProduct(l2) for l2 in L2_score]
    search_result=pd.DataFrame()
    search_result[id_col_name]=ids
    search_result['cosine_sim']=inner_product
    search_result['L2_score']=L2_score
    dat=data[data[id_col_name].isin(ids)]
    dat=pd.merge(dat,search_result,on=id_col_name)
    dat=dat.sort_values('cosine_sim',ascending=False)
    return dat

In [64]:
def calculateInnerProduct(L2_score):
    return (2-math.pow(L2_score,2))/2

In [66]:
query="Princess in castle"
search_result=searchFAISSIndex(imdb_movies,"id",query,index,nprobe=10,model=model,topk=20)
search_result=search_result[['id','description','titre','cosine_sim','L2_score']]

In [67]:
search_result

      id  ...  L2_score
8   3512  ...  0.909981
3   1268  ...  0.966599
1    672  ...  0.967031
18  8799  ...  0.973202
6   1678  ...  0.975870
15  6675  ...  0.976969
0    541  ...  0.977446
9   3969  ...  0.980460
7   2235  ...  0.992060
4   1289  ...  0.999616
12  4337  ...  1.000931
13  4918  ...  1.003844
19  9939  ...  1.004727
2    833  ...  1.012127
10  4053  ...  1.012262
16  6901  ...  1.014835
5   1578  ...  1.015363
17  8424  ...  1.018678
14  6137  ...  1.018781
11  4098  ...  1.020151

[20 rows x 5 columns]

In [69]:
query="Former Football player  to train an  football team"
search_result=searchFAISSIndex(imdb_movies,"id",query,index,nprobe=10,model=model,topk=20)
search_result=search_result[['id','description','titre','cosine_sim','L2_score']]
search_result

      id  ...  L2_score
8   3811  ...  0.900526
16  7173  ...  0.923283
18  8569  ...  0.937868
2    762  ...  0.944876
11  5349  ...  0.949838
7   3736  ...  0.951403
1    432  ...  0.967367
17  8451  ...  0.970169
3   1405  ...  0.977867
19  9430  ...  0.980276
15  7021  ...  0.980629
5   2790  ...  0.990081
14  6557  ...  0.992451
13  6414  ...  1.002677
9   4563  ...  1.004307
0    102  ...  1.008804
4   2527  ...  1.012160
6   3182  ...  1.014126
12  5802  ...  1.017242
10  5203  ...  1.019080

[20 rows x 5 columns]